*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: #e0dbe0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3 {
  margin: 0;
}
li {
    list-style-type: none; 
}
ul {
    margin-left: 0;
    padding-left: 0;
}
.card {
  width: 288px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-img-top {
  display: flex;
  justify-content: center;
}
.js-card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1em;
  background-color: inherit;
}
.country__img {
  display: block;
  width: 200px;
}
.search-form {
  padding: 10px;
}

.card {
  margin: 10px;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-control {
  padding: 15px 28px 16px 28px;
  background-color: transparent;
  border: 2px solid #ff0081;
  box-sizing: border-box;
  color: #800080;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}

.form-control:focus {
    border: 1px solid #800080;
    outline: 2px solid #800080;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  cursor: pointer;
  width: 150px;
  border: 2px solid transparent;
  background: radial-gradient(circle, #ff0081, transparent);
  border-radius: 50px;
  color: white;
}
.main-page:hover {
  color: #800080;
  border: 2px solid #ff0081;
  background: radial-gradient(circle, #f3dbe7, transparent);
}